/* invisible change 2 */
/* Global animation definitions */

@keyframes dropIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-15px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

.fade-in {
    animation: fadeIn 0.3s ease forwards;
}

.fade-in-up {
    animation: fadeInUp 0.3s ease forwards;
}

.fade-in-down {
    animation: fadeInDown 0.3s ease forwards;
}

.slide-in-left {
    animation: slideInFromLeft 0.3s ease forwards;
}

.slide-in {
    animation: slideIn 0.3s forwards;
}

.slide-out {
    animation: slideOut 0.3s forwards;
}

.drop-in {
    animation: dropIn 0.3s ease forwards;
}

@keyframes redPulse {
    0% {
        box-shadow: inset 0 0 0 0 rgba(255, 0, 0, 0.4);
    }

    70% {
        box-shadow: inset 0 0 0 10px rgba(255, 0, 0, 0);
    }

    100% {
        box-shadow: inset 0 0 0 0 rgba(255, 0, 0, 0);
    }
}

@keyframes yellowPulse {
    0% {
        box-shadow: inset 0 0 0 0 rgba(255, 213, 79, 0.4);
    }

    70% {
        box-shadow: inset 0 0 0 10px rgba(255, 213, 79, 0);
    }

    100% {
        box-shadow: inset 0 0 0 0 rgba(255, 213, 79, 0);
    }
}

@keyframes greenPulse {
    0% {
        box-shadow: inset 0 0 0 0 rgba(16, 124, 16, 0.4);
    }

    70% {
        box-shadow: inset 0 0 0 10px rgba(16, 124, 16, 0);
    }

    100% {
        box-shadow: inset 0 0 0 0 rgba(16, 124, 16, 0);
    }
}

@keyframes subtlePulse {
    0% {
        transform: scale(1);
        opacity: 0.7;
    }

    50% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0.7;
    }
}