/* src/index.css */

/* Import Raleway font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

:root {
  --helix-dark-blue: rgb(6, 23, 51);
  --helix-blue: rgb(13, 47, 96);
  --helix-highlight: rgb(54, 144, 206);
  --helix-cta: rgb(214, 85, 65);
  --helix-grey: rgb(244, 244, 246);
  --helix-orange: rgb(240, 124, 80);
  --helix-green: rgb(115, 171, 96);
  --helix-yellow: rgb(214, 176, 70);
  --helix-red: rgb(187, 62, 66);
}

* {
  font-family: inherit;
}

body {
  margin: 0;
  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Generic icon hover behaviour */
.icon-outline {
  display: inline-flex;
}

.icon-filled {
  display: none;
}

.icon-hover:hover .icon-outline {
  display: none;
}

.icon-hover:hover .icon-filled {
  display: inline-flex;
}