/* src/tabs/home/MetricCard.css */

@keyframes dropIn {
    from {
      transform: translateY(-10px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .metricCard {
    opacity: 0; /* Initially invisible */
    animation: dropIn 0.3s ease forwards;
    animation-delay: var(--animation-delay, 0s);
  }
  