/* src/app/styles/ResourceCard.css */

@keyframes dropIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.resourceCard {
  opacity: 0; /* Initially invisible */
  animation: dropIn 0.3s ease forwards;
  animation-delay: var(--animation-delay, 0s);
}

.resourceCard:hover .backdropIcon {
  opacity: 1.0;
}

:root {
  --backdrop-grey: #F4F4F6; /* Set to match colours.grey */
}

.backdropIcon {
  transition: opacity 0.3s ease;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 80px; /* Align closer to the separator */
  width: 80px; /* Ensure width is set */
  height: 80px; /* Ensure height is set */
  opacity: 0.5; /* Subtle background */
  pointer-events: none;
  z-index: 1;
  filter: brightness(0) saturate(100%) invert(93%); /* Adjusted filter to achieve #F4F4F6 */
}
