/* src/app/styles/ResourceCard.css */

@keyframes dropIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.resourceCard {
  opacity: 0; /* Initially invisible */
  animation: dropIn 0.3s ease forwards;
  animation-delay: var(--animation-delay, 0s);
}

.resourceCard:hover .backdropIcon {
  opacity: 0.2;
}

:root {
  --backdrop-grey: #F4F4F6; /* Set to match colours.grey */
}

.backdropIcon {
  transition: opacity 0.3s ease;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 80px; /* Align closer to the separator */
  height: 80px; /* Same height as other icons */
  color: var(--backdrop-grey); /* Use grey from colours file */
  opacity: 0.1; /* Subtle background */
  pointer-events: none;
  z-index: 1;
  filter: grayscale(100%) brightness(1); /* Match the grey tone */
}

