# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# TeamsFx files
env/.env.*.user
env/.env.local
.DS_Store
build
appPackage/build
.deployment
.localConfigs
api/local.settings.json
.env

# dependencies
/node_modules
**/node_modules/

# testing
/coverage

# Dev tool directories
/devTools/

env/.env.*
env/.env.dev
.env.local
src/localData/