<configuration>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="iisnode" type="iisnode" />
    </modules>
    <handlers>
      <add name="iisnode"
           path="server.js"
           verb="*"
           modules="iisnode"
           resourceType="Unspecified"
           loggingEnabled="true"
           devErrorsEnabled="true"
           stdoutLogEnabled="true"
           logDirectory="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="StaticFiles" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>
        <rule name="DynamicRequests">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
