# Ignore all local dependencies
node_modules/
unzipped/

# Artifacts created by build-and-deploy.ps1
/server.js
/upload.js
/package.json
/web.config
/.env
push-package.zip

structure.txt
apps/pitch/backend/instructions.json